body {
    margin: 0 auto;
}

header > nav > ul, header > nav > ul > li > ul {
    list-style: none;
}

header {
    border-bottom: 1px solid gray;
}

.container {
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container > img {
    width: 30rem;
    object-fit: contain;
    margin: 0.5rem;
    position: relative; 
    animation: animate-image 0.3s infinite alternate; 
}

@keyframes animate-image {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(20);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .container > img {
        width: 90%; 
    }

    @keyframes animate-image {
        0% {
            transform: translateY(-100%);
        }
        50% {
            transform: translateY(100%); 
        }
        100% {
            transform: translateY(20);
        }
    }
}
