@keyframes move {
    0% {
      transform: translateX(0); 
    }
    25% {
      transform: translateX(10rem); 
    }
    50% {
      transform: translateY(20rem); 
    }
    75% {
      transform: translateX(10rem); 
    }
    100% {
      transform: translateY(15rem); 
    }
  }

div {
    width: 100px;
    height: 100px;
    animation-name: move; 
    animation-duration: 3.2s; 
  }

@media only screen and (max-width: 600px) {
    p {
        background-color: rgb(24, 255, 3);
        
      }
    }

body{
    background: linear-gradient(380deg, rgb(3, 255, 62), rgb(49, 252, 255), rgb(255, 45, 255));
}