body {
    margin: 0px;
    scroll-behavior: smooth;
}
header {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100vw;
}
nav {
    padding: 30px;
}
a {
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
   color: brown; 
}
#about {
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:beige;
}
div {
    width: 100vh;
    padding-left: 140px;
}
p {
    align-self: flex-start;
}
h1 {
    color: orangered;
}
#skills {
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
li {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image1 {
    width: 80%;
}
.image2 {
    width: 150%;
}
.image3 {
    width: 60%;
}
.image4 {
    width: 120%;
}
#contact {
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color:beige;
}
form  {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
}
label {
    margin-top: 20px;
    margin-bottom: 10px;
}
button {
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: brown;
    color: white;
    padding: 10px;
    width: 20%;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: black;
}
.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
  }
  
.footer p {
    margin: 0;
    margin-top: 40px;
}