body {
    margin: 0 auto;
}

.header {
    padding: 1.2rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: 'Parkinsans', sans-serif;
}

.logo {
    width: 10em;
}

.sec-1 {
    position: relative;
}

.sec-2 {
    position: relative;
}
