* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header h3 {
    font-size: 1.5em;
}

header p {
    font-size: 1em;
    margin-top: 10px;
}

.btn {
    background-color: #0a74da;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.skills-container, .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill, .project {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project {
    display: flex;
    flex-direction: column; justify-content: space-around;
}

.skill > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill h3, .project h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #0a74da;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}
