body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f3f3;
    }

    h1 {
    font-size: 2.5rem;
    color: #333;
    animation: fadeIn 2s ease-in-out infinite alternate;
    }


    button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #3407c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: bounce 0.5s ease-in-out infinite;
    }

    button:hover{
        background-color: #2e1580;
    }

    @keyframes bounce {

    0%, 100% {
        transform: translateX(-30rem);
    }
    50% {
        transform: translateX(30rem);
    }

    }

    @media (max-width: 768px) {
        
    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 0.9rem;
    }

    }
