
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 20px;
  }

  .header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border: 2px solid #388E3C;
    margin-bottom: 20px;
  }
  

  #intro {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
    padding: 10px;
    background-color: #e8f5e9;
    border: 1px solid #4CAF50;
    border-radius: 5px;
  }
  

  .styled-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 3px solid #ddd;
    padding: 10px;
    background-color: #fff;
  }
  
  .content {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .challenge-section{
    text-align: center;
    align-self: flex-end;
    background-color: white;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
  }

  .main-body-container{
    background-image: linear-gradient(aliceblue, darkCyan);
  }