body{
    background-image: linear-gradient(rgb(243, 245, 140), rgb(42, 80, 204), rgb(155, 79, 17));
    
}

.sample_image{
    margin-left: 10%;
    transition: transform 0.3s;


}

.sample_image:hover{
    transform: scale(1.01);    

}

.sample_p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    background-color: rgb(136, 45, 145);
    border: 15px solid rgb(89, 190, 216);
    padding: 30px;
    margin: 10px;
}

header{
    text-align: center;
    font-size: 30pt;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border: 5px solid black;
    width: fit-content;
    margin-left: 45%;

}