.box {
  width: 300px;
  height: auto;
  background-color: #e3f2fd;
  padding: 20px;
  border: 5px solid #1565c0;
  margin: 30px auto;
  text-align: center;
  border-radius: 10px;
}

.box h2 {
  font-size: 20px;
  color: #0d47a1;
  margin-bottom: 10px;
}

.box p {
  font-family: Georgia, serif;
  font-size: 14px;
  color: #1a237e;
  line-height: 1.5;
}
