body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #528447;
    color: white;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.hero {
    text-align: center;
    padding: 50px 20px;
}
.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.contact-form {
    padding: 20px;
    background-color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}
.contact-form form {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    text-align: left;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.contact-form button{
    background-color: #528447;
    width: 100%;
    color:white;
    font-family: Arial, sans-serif;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #528447;
    color: white;
    margin-top: 130px;
}