body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.index {
  text-align: center;
}

main {
  margin: 10px;
}

.external_link a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: grey;
}

.external_link a:hover {
  color: seagreen;
  font-weight: bold;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  color: seagreen;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(169, 226, 194);
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar li {
    float: left;
} */

.navbar a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover,
.navbar a.active {
  background-color: seagreen;
  text-decoration: underline;
}

/*Blog CSS*/
.blog {
  color: seagreen;
}

.blog:hover {
  color: rgb(169, 226, 194);
}

footer {
  text-align: center;
  background-color: rgb(169, 226, 194);
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

.margin {
  margin: 0px;
}

.footer a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: slategrey;
}

/*Contact CSS*/

.form_text {
  color: #4caf50;
  text-align: center;
}

/* Styling the form container */
.form_display {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input::placeholder {
  color: #888;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
  border-color: #4caf50;
  outline: none;
}

.footer_class {
  margin-top: 100px;
}
