.main-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: -1; 
}

.main-content .content {
    position: relative;
    z-index: 1;
    color: white; 
}

.main-content_content {
    color: white;
    margin: 5rem;
}

.main-content_content-heading {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 500;
}

.main-content_content-desc {
    max-width: 40%;
}

.main-content_content-btn {
    background: linear-gradient(90deg, #ff7433, #fc56a4);
    font-weight: 600;
}

.main-content_users {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 10%;
}

.main-content-1 {
    background-color: #220f3c;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-content-1-ar {
    background: linear-gradient(90deg, #7e30fc, #500bbf);
    border-radius: 1rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.ar-header {
    color: white;
    font-weight: 200; 
}

.ar-t1 {
    font-weight: 600; 
    color: white;
}

.aug-intel_heading {
    word-spacing: 2rem;
    color: #c7b5e6;
    font-weight: 500;
}

.oracle {
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 2px solid white;
    color: white;
    border-radius: 0.5rem;
}

.sec-2-video {
    position: absolute;
    top: 19rem;
}

.section-3 {
    padding-top: 28rem;
    height: 50%;
    background: linear-gradient(180deg, #220f3c, #231138);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-3 h2 {
    font-weight: 500;
}

.section-3-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 5rem;
}

.section-3-btns button {
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff7433, #fc56a4);
}

.section-4 {
    background-color: #250f3d;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.section-4 h1 {
    font-size: 2.5rem;
    text-align: center;
}

.section-4_content-1 h1 {
    margin-left: 30px;
    margin-top: -140px;
    max-width: 650px;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
}

.section-4_content-1 p {
    max-width: 650px;
    margin-left: 30px;
}

.section-4_content-1 video {
    float: right;
    margin-top: -250px;
}

.section-5_content-1 h1 {
    margin-left: 30px;
    margin-top: 100px;
    max-width: 650px;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
}

.section-5_content-1 p {
    max-width: 650px;
    margin-left: 30px;
}

.section-5_content-1 video {
    float: right;
    margin-top: -200px;
}

.section-6_content-1 h1 {
    margin-left: 30px;
    margin-top: 100px;
    max-width: 650px;
    font-weight: 500;
    font-size: 2rem;
    text-align: left;
}

.section-6_content-1 p {
    max-width: 650px;
    margin-left: 30px;
}

.section-6_content-1 video {
    float: right;
    margin-top: -200px;
}

.section-5 {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 5rem;
    color: black;
}

.section-5 > h1 {
    font-size: 2.8rem;
}

.section-5 ul {
    display: flex;
    flex-direction: column;
}

.section-5 ul li {
    cursor: pointer;
}

.focused {
    padding: 1rem;
    background: linear-gradient(90deg, #ff7433, #fc56a4);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    width: 100%;
    color: white;
}

.unfocused {
    padding: 0.7rem;
    border-bottom: 1px solid black;
    width: 100%;
    color: black;
    transition: all 0.2s ease;
}

.unfocused:hover {
    background: linear-gradient(90deg, #ff7433, #fc56a4);
    border-radius: 1rem;
    color: white;
}

.section-5_wide-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-5_wide-1 > img {
    width: 30rem;
    height: 25rem;
}

.section-5_sub-1 {
    border-radius: 1rem;
    background: linear-gradient(60deg, #8030ff, #4e09bd);
    padding: 1.5rem;
    margin-top: 3.5rem;
}

.sub-1_desc {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
    color: white;
}

.section-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
    margin-top: 1rem;
}

.section-6_left {
    display: grid;
    grid-template-rows: auto auto; 
    gap: 1rem;
}

.section-6_right {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%; 
}

.section-6_right img {
    margin-top: 300px;
}

.section-6_sub-2,
.section-6_sub-3,
.section-6_row_sub {
    border-radius: 1rem;
    background: linear-gradient(60deg, #792ef2, #530ec2);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.sub-2_desc,
.sub-3_desc {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.section-6_row_sub {
    flex-grow: 1;  
}

.section-7 {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.section-7 h1 {
    font-size: 4rem;
}

.section-7 img {
    height: 600px;
}

.section-8, .section-9 {
    padding: 3rem;
}

.section-8_sub1 {
    padding: 2rem;
    background: linear-gradient(90deg, #fae0cf, #e6d3e2);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-8_sub1 button {
    background: linear-gradient(90deg, #ff7433, #fc56a4);
    width: max-content;
}

.section-8_sub1 img {
    border-radius: 1rem;
}

.section-9 h1 {
    font-size: 3rem;
}

.section-9_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-9_cards .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}

.card {
    max-width: 350px;
}

.card img {
    width: 350px;
    border-radius: 1rem;
}

.section-10 {
    background-color: #212121;
    padding: 5rem;
}

.section-10 button {
    background: linear-gradient(90deg, #ff7433, #fc56a4);
}

.section-10_sub-1 h1 {
    font-size: 2.5rem;
}

.section-10_sub-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* 
footer {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;
    background-color: #212121;
    padding: 2.5rem;
    margin-top: 2px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 20px;
}

ul li {
    color: gray;
}

ul > .heading { 
    font-weight: bold;
    color: white;
} */
