body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aqua;
}
header {
    background-color: beige;
    padding: 5px;   
}

main {
    margin: 20px;
    padding: 20px;
    background-color:cadetblue;
}
h1 {
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    text-decoration:wavy underline;
    text-align: center;
}
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p::first-letter {
    font-size:  35px;
}

img {
    width: 50%;
    padding-top: 30px;
}